[2019-05-20 06:47] davidyuk opened #20 "terms: dapp vs aepp"
In what cases each of them should be used? If we are talking about applications based on aeternity is this terms meaning same or not? Do we have any preferences or guidelines here?

[2019-05-20 06:51] davidyuk opened #21 "terms: account, identity, keypair"
In what cases each of them should be used? If we are talking about applications based on aeternity is this terms meaning same or not? Do we have any preferences or guidelines here?

In Base app we are using `account` mostly.

[2019-05-20 07:12] davidyuk opened #22 "AEX-5: in which cases ping/pong needed?"
Can't it be handled on transport layer?

[2019-05-20 07:50] davidyuk opened #24 "Fix compatibility with JSON RPC"
[JSON-RPC specification](https://www.jsonrpc.org/specification) doesn't say anything about `version` field in the root of response/requests objects. If it is needed to store protocol version it should use `params`, `result`, or method name to be compatible with JSON RPC.

I have seen the usage of `version` field in AEX-2 and AEX-5.

[2019-05-20 08:05] davidyuk opened #25 "Extract JSON RPC definition/examples and explain its payload instead"
For example:

---
- `wallet.request.connect`: connection request sent by wallet containing an identifier that it wants to assign to the aepp/sdk. The generated identifier must be unique and must conform to the [UUID v4 standards](https://tools.ietf.org/html/rfc4122#page-14).

  json-rpc 2.0 structure:

[code]
---

replace with something like this:

---
### wallet.request.connect
Connection request

[2019-05-20 08:25] davidyuk opened #26 "AEX-2: Simplify methods names"
Is it necessary to have a name of calling instance as a prefix for method name? I think it won't become more complicated if we drop them. Ex: `aepp.request.sign` => `request.sign`.

Also, does it have sense to rename methods that are already defined in sdk like `address` and `sign`?

[2019-05-20 09:04] davidyuk opened #27 "AEX-3: what does `secret_type` mean?"
Its current value `ed25519` is ambiguous, for example, it can be just a private key, or a key that is for the derivation of child account that will use the same curve for signing. Is it correct to use AEX-3 for arbitrary data or it should be somehow related to user accounts?

[2019-05-20 10:15] shekhar-shubhendu commented on #22
`ping/pong` can be handled on the transport layer but this is mainly useful for apps using `postMessage` API.

[2019-05-20 10:21] shekhar-shubhendu commented on #26
@davidyuk the prefix is used to identify(just by looking at the method name) who is invoking it.

[2019-05-20 10:24] shekhar-shubhendu commented on #25
@davidyuk we're already working on it as currently used `jsonc` is not compatible with documentation hub markdown. Will try to take your recommendation into account. Looks good to me.

[2019-05-20 10:31] shekhar-shubhendu commented on #24
@davidyuk we're trying to be as close to the state-channels JSON-RPC API which includes version field. you can find the example [here](https://github.com/aeternity/protocol/blob/master/node/api/examples/channels/json-rpc/sc_ws_basic_open_close.md).
The version field is as you guessed is needed to store protocol version.

[2019-05-20 16:17] davidyuk commented on #24
Are AEX-2 and AEX-5 somehow connected to state-channels? If it is not, I think we can make a better decision here.

[2019-05-20 16:21] davidyuk commented on #26
If I'm writing a wallet part I know that all my RPC methods are invoked by aepp part, is it needed to have an addition hint?

[2019-05-20 16:24] davidyuk commented on #22
I was guessing that it is for WebSocket or so, but I can't get how it can be used in `postMessage` interface. Can you explain it?

[2019-05-20 16:34] davidyuk opened #29 "AEX-2: Drop identifiers"
Some transports like `postMessage` interface provide own identification mechanisms. That in the case of `postMessage` interface (`origin` field) even more secure that proposed solution, because of the `origin` field provided by a browser so can't be faked. This makes reasonable to make identifiers proposed by AEX-2 optional.

[2019-05-21 06:35] shekhar-shubhendu commented on #26
it is not really about the writing part. it is the understandability. By looking at the method name `aepp.request.sign`, although not very clear right now(will update the doc regarding this), I can come to the conclusion that the aepp/dapp is using it to request the signature while `request.sign` makes it more general. Currently, followed naming convention is used in the aeternity and is also chos

[2019-05-21 06:40] shekhar-shubhendu commented on #24
it is not connected to but I would really like to keep the `protocol version` out of the method params as it does not makes sense to bind the `version` with the methods. If this breaks something we can find some other place to put it or we can remove it simply for now.

[2019-05-21 06:53] shekhar-shubhendu commented on #22
`postMessage` is a simple API to send/broadcast messages additionally allowing us to specify a `target` for the message. When a browser wallet extension connects to the SDK over `postMessage` we don't really know(even right after the connect message) whether the wallet is present or not until we receive the next message or the `sign` request from the SDK fails.

We can rely on the message failures

[2019-05-21 07:03] shekhar-shubhendu commented on #29
Using different `identifiers` for different transport layer will break the uniformity and will be difficult to manage.

[2019-05-21 08:37] shekhar-shubhendu commented on #24
@davidyuk on another thought and after discussing it with @nduchak we can do it this way:

wallet sends the supported version in the connection request (`wallet.request.connect`) only and if version mismatch or unsupported then SDK/aepp throws an error.

[2019-05-22 08:56] shekhar-shubhendu commented on #27
@davidyuk the first part is not very clear as I don't know how base app generates child accounts. can you please expand on this?
AEX-3 allows arbitrary data and recommends that it should be user related but it can not enforce the type of data the wallet can store.

[2019-05-22 10:13] knarz commented on #21
Identity is something more general than just an account or a keypair. I would use identity as a superset of keypairs and accounts. Many accounts and keypairs may make up one identity.

An account is an entry in the accounts tree and thus a singular identifiable thing.

One account might have more than one keypair, especially now with generalized accounts. As such, use keypair when describing crypt

[2019-05-22 10:19] knarz commented on #22
Please, if possible, use the discussion link, if available, for issues related to specific AEXs.

[2019-05-24 10:28] #24 closed, assigned to nobody

[2019-05-27 08:14] davidyuk commented on #26
You can get this also by looking at the header above, for example in AEX-2:

#### SDK/Aepp

- `method name`: ...

#### Wallet

- `method name`: ...

It is pretty clear. I still think that we should remove duplicate parts from method names.

I have not seen it before, can you provide some links to discussions about it or existing implementations?

[2019-05-27 08:19] davidyuk commented on #25
Looks like this is resolved 👍

[2019-05-27 08:19] #25 closed, assigned to nobody

[2019-05-27 08:29] davidyuk commented on #27
Here is my implementation of account derivation in Base app: https://github.com/aeternity/hd-wallet-js/blob/master/src/hd-wallet.js
And some explanations: https://github.com/aeternity/aepp-sdk-js/pull/41#issue-191069317

If `secret_type` doesn't have any strict meaning, let's drop it for now.

[2019-05-27 08:38] davidyuk commented on #29
It means that AEX-2 trying to handle too much, let's make it simpler. We shouldn't ignore features with greater security because of our universal standards. Maybe we can extract identification into a separate standard and apply when it is necessary?

[2019-05-27 08:49] davidyuk commented on #22
@shekhar-shubhendu Are there any cases when wallet can't call `wallet.disconnect.aepp` before closing? Anyway, aepp can poll `aepp.get.address` method that shouldn't be expensive if such polling is needed in some weird case.

[2019-05-27 09:16] shekhar-shubhendu commented on #29
AEX-2 is adding an identifier but you can always use the features provided by the `postMessage` API(or any transport layer) alongside it. I don't see how adding the identifier will break it.

[2019-05-27 09:18] shekhar-shubhendu commented on #27
@knarz will be able to provide more information on this since he is the original author here.

[2019-05-27 09:24] shekhar-shubhendu commented on #26
I was talking more about people looking at the code directly or messages without looking at the AEX doc.

example from aeternity: https://github.com/aeternity/protocol/blob/master/node/api/examples/channels/json-rpc/sc_ws_basic_open_close.md#initiator-----node-1

I think we should move this discussion to the forum not many people check things here.

[2019-05-28 23:16] knarz commented on #27
Right now I imagine the `secret_type` to be taken quite literally in the sense that it is a private key, which should be used to generate signatures according to ed25519.
I'd rather include more types and keep the field around s.t. the files can be self-contained.
Otherwise we either specify that a version field with value `1` should indicate to a reader that it contains above key material or we a

[2019-06-01 14:01] nikita-fuchs commented on #20
I would say aepp is a dapp on aeternity ?

[2019-06-03 20:23] davidyuk commented on #26
Let's imagine that somebody makes mapping of these RPC methods to some object in JS, like
[code]
`aeppGetAddress`, `getAddress`, `address`, what of these methods would be most understandable in this case? I beat that it is `getAddress` or `address` but definitely not `aeppGetAddress`. If `aeppGetAddress` is not the best in this case, then we shouldn't use it in RPC interface as well.

If you want

[2019-06-03 20:31] davidyuk commented on #26
I don't think that state channels API is a good example because:
- they always using `channels` prefix, I don't see sense here as well, it could work as scoping of methods specific for state channels, but endpoint name that they are using already contains `channels` that means that all methods already connected to state channels
- they already using JSON RPC in a not compatible way (#24), maybe it

[2019-06-03 20:40] davidyuk commented on #26
Prerequisite to work with AEX is to read AEX except for cases when it is implemented by some library. I think AEXs should be focused on developers that building an implementation of AEX-2 for some reason. We shouldn't spend time on cases like somebody unexpectedly opened a code of some library that built according to some AEX and starting to investigate it.

[2019-06-03 20:44] davidyuk commented on #26
if you want, you can link the discussion on the forum to this issue and vice versa

[2019-06-03 21:16] davidyuk commented on #27
I think AEX-3 becomes more useful if we get rid of the ambiguity of  `secret_type` field by adding more types like:
- `ed25519-bip39-mnemonic`, or just `mnemonic`?
- `ed25519-slip0010-masterkey`
- `aex*-account` -- a key that can be used to derive subaccounts
- `aex*-keypair` -- derived key

where `aex*` is a standard explaining account derivation. Also, it is important to define the payload layou

[2019-06-03 21:34] davidyuk opened #36 "AEX-2,5: What SDK means?"
Is it JS SDK? I think 2, 5 AEXs should explain communication between instances (aepp <-> wallet, and wallet <-> wallet) without mentioning of the existing project that is supposed to implement this, otherwise, it gets more confusing. I think these AEXes should be explained in a way that makes possible to implement them without relying on existing SDK package.

[2019-06-04 06:26] shekhar-shubhendu commented on #36
@davidyuk noted. cosmetic changes can be done anytime to the AEX (also via a pull request by anyone). I'll do this in maybe this sprint or else in the next.

[2019-06-04 08:50] shekhar-shubhendu commented on #26
AEX-2 does not force method naming convention and only mentions JSON-RPC messages shared between parties. It is the responsibility of the developer to decide how he/she wants to structure the code and name their methods.

JSON-RPC messages in the AEX-2 do not follow the JS naming convention.

[2019-06-04 14:11] davidyuk commented on #26
Yes, it is true. But still, we can make JSON-RPC method names in AEX-2 and future standards as simple as possible. Why don't do it?

It is not just JS naming convention it is more OOP. JSON-RPC correspond to that model and I think its method names should be compatible with it. Somebody will use JSON-RPC client that will make such mapping and he will get a super weird `wallet.aeppGetAddress`. By AE

[2019-06-04 14:35] shekhar-shubhendu commented on #26
@davidyuk the method names(for me at least) seem simple and descriptive and all I can see here is a difference in perspective. the names described by you are good for JS method name but are not descriptive enough to qualify as JSON-RPC messages(as defined/used by aeternity).
Once the aeternity protocol decides to update the [naming convention](https://github.com/aeternity/protocol/tree/master/chan

[2019-06-04 14:50] davidyuk opened #38 "AEX-2: Issues list"
### Wallet methods

- ~~what is return value of `aepp.get.address` method?~~ extracted to #46
- ~~in what format tx should be passed to `aepp.request.sign` method? I see several options: hex string, an array of bytes, `tx_..` string, the current explanation is too ambiguous~~ extracted to #65
- ~~in what format tx returned from `aepp.request.sign` method?~~ extracted to #65
- [x] for what reason `

[2019-06-04 15:14] davidyuk opened #39 "AEX-2: How wallet can determine that it was talking to some aepp before?"
As I see, communication should start with sending of a random id by the wallet to aepp, and later aepp is identified by this id. What if the user has used some aepp before and give it some permissions, and when he opens it back does AEX-2 can identify this aepp as previously used? Or wallet and aepp developers should build one more identification mechanism on top of AEX-2?

[2019-06-04 15:37] davidyuk opened #40 "AEX-2: With what network topologies it is compatible?"
Original issue: It is intentioned to work with two peers transports or transports with multiple actors?

If the first one, then why do we need identification?
If the second one, then can APP-2 introduce itself as APP-1 by intercepting of `id` that wallet has send to APP-1 in `wallet.request.connect` method call?

Would be great to add requirements/expectations about transport to AEX-2.

[2019-06-04 16:02] shekhar-shubhendu commented on #39
currently out of scope for this AEX. best would be to create a separate aex for this functionality

[2019-06-04 16:03] shekhar-shubhendu commented on #40
question too vague and does not defines things that it can be processed further. please be more descriptive and provide few examples and use cases for both the scenarios.

[2019-06-04 16:08] shekhar-shubhendu commented on #38
as these issues deal with syntactic changes and not the core functionality provided by the proposal, therefore, these will be added either in this sprint or the next. thanks for the contribution.

for some of the issues stated I suggest you to please re-read the proposal.

[2019-06-04 16:09] davidyuk commented on #38
yes, but it can lead to breaking changes in AEX-2

[2019-06-04 16:11] shekhar-shubhendu commented on #38
these will be handled with sample implementation on AEX finalization. No need to worry I think right now.

[2019-06-04 16:12] davidyuk commented on #38
for which issues?

[2019-06-04 16:33] davidyuk commented on #40
In general, Wallet and Aepps communicate in some network that should have a specific topology that depends on the transport used. Let's check possible topologies.

#### Star network topology (Wallet is in the middle)
In this case, the Wallet can exchange messages with Aepp directly, so I don't see reasons for identification in this case, as far as it should be already implemented by transport.

##

[2019-06-04 17:02] davidyuk commented on #29
https://github.com/aeternity/AEXs/issues/40#issuecomment-498747203 probably proves that identifiers are not needed at all or they should be reimplemented

[2019-06-04 17:06] davidyuk commented on #39
I think we should mention in AEX-2 that developers shouldn't rely on them as persistent and additional identification is needed for that.

[2019-06-04 17:38] davidyuk commented on #26
Why `get.address` is not descriptive enough to qualify as JSON-RPC messages?

It is only used in state channels api, it should be accepted by the community to force it in AEXs

[2019-06-04 18:11] davidyuk commented on #26
By the way, are you sure that you have applied `who - what - how` rule correctly? They have `solo` as an example of `how`. Do `address`, `sign`, or `network` can be `how`? Maybe `who` means object of some action instead of a subject? Applying this I have got:
[code]
I have to admit that it seems better than the current naming.

Why you propose to use dots as a separator of method name parts? As I

[2019-06-04 20:38] davidyuk opened #42 "AEX-5: Issues list"
- [ ] For what reason wallet should return other accounts? How it can help in getting signatures?

https://github.com/aeternity/AEXs/blob/9e7a9360d8fb942ff32a4492deb2e289b51e3aff/AEXS/aex-5.md#proposed-process-with-inter-wallet-communication
- [ ] What is the difference between direct and indirect links?

| AEX-2 method names | AEX-5 method names |
|---|---|
| wallet.request.connect | wallet.chann

[2019-06-05 06:30] shekhar-shubhendu commented on #40
Defining the transport layer incl. connection set up between wallet and aepp is currently out of scope and will not be added to the AEX.

[2019-06-05 06:35] shekhar-shubhendu commented on #42
this issue seems to be a reiteration of things that have been discussed extensively during the finalization of the AEX incl. the method names.

[2019-06-05 06:36] shekhar-shubhendu commented on #39
noted. but it is up to the developers how they want to use it. if they want it to be persistent and use them throughout they can very well choose too. the AEX proposal uses `id` to uniquely identify the sender and receiver of messages. The AEX2,5 do not deal with best practices and it is up to the community to decide.

[2019-06-05 06:42] shekhar-shubhendu commented on #38
Already part of the AEX. Please re-read.

Will be added.

Will be added. same as above.

Already part of the AEX. Please re-read.

Already part of the AEX. Please re-read.

Not required.

Not required.

Already part of the AEX. Please re-read.

Error explation are descriptive enough.

Already part of the AEX. Please re-read.

[2019-06-05 17:31] davidyuk commented on #29
I was thinking that identifiers are made for one of the cases from #40. If it is "out of scope", then I can't find any reasoning for identification mechanics and proposing to drop it.

[2019-06-05 17:42] davidyuk commented on #40
I think AEX-2 should at least require an ability to send and receive JSON documents between aepp and wallet, doesn't it? Is a direct connection between wallet and aepp required or not?

If you say "direct connection required" then the most of the transport layer stuff will become "out of scope". But right now, AEX-2 has some pretension to be able to work in other environments that should be invest

[2019-06-05 17:55] davidyuk commented on #39
Don't it means that wallet should send a random identifier every time? Or you mean that wallet can somehow identify aepp by itself and then send the existing identifier? Do we need identifiers in AEX-2 if wallet can identify aepp by itself?

Are you sure about the necessity of identifiers in AEX-2? If not why don't introduce them later?

[2019-06-05 18:01] davidyuk commented on #42
I think it is important to have them resolved explicitly and publicly. To be able to check how these decisions were made. Do you have links to discussions on these topics? Or we can start discussing them essentially.

[2019-06-05 18:17] davidyuk opened #43 "AEX-2: Make headers more clear"
see https://github.com/aeternity/AEXs/pull/37

[2019-06-05 19:11] davidyuk commented on #42
I can't find any discussions in https://forum.aeternity.com/t/aex-5-inter-wallet-communication/3371

[2019-06-05 19:22] davidyuk opened #44 "AEX-2: Use responses with errors instead of separate error method"
JSON RPC supports error objects as part of the [response object](https://www.jsonrpc.org/specification#response_object), so I think it is not necessary to introduce an additional `error` method and force to pass all error through it ("used to communicate any error occurred"). In which cases `error` method is needed?

[2019-06-05 19:32] davidyuk opened #45 "Should be possible to explain AEXs in examples without explanations that cover them completely?"
For instance, [Example Account Format](https://github.com/aeternity/AEXs/blob/aa8c1a6/AEXS/aex-2.md#parameters-6) introduces the `name` field that is not mentioned anywhere else.

[2019-06-05 19:41] davidyuk opened #46 "AEX-2: Make `aepp.get.address` method simplier"
JSON RPC supports return values of methods. Right now `aepp.get.address` is notification (without return value). And when this notification emitted by aepp, as I guess, the wallet should call `wallet.update.address` notification in advice. Straightforward usage of JSON RPC would be calling of `aepp.get.address` method and getting an address in reply, without introducing of `wallet.update.address`

[2019-06-05 19:53] davidyuk commented on #38
Can you explain it better than "Currently supported format: `tx_` string"? Maybe add a link to some document explaining what is `tx_` string? #34, #35

I can't find, can you point to specific part?

Yes, I see them, in which cases they are necessary?

So, let's remove errors explanations from `wallet.broadcast.tx`, `wallet.verify.tx` methods for consistency.

[2019-06-05 20:24] davidyuk opened #47 "AEX-2: How aepp can use a list of accounts returned from wallet.update.address?"

[2019-06-05 20:26] davidyuk opened #48 "AEX-2: Make account retrieving simpler"
I propose to implement two methods: one for getting a current account, and the other one for getting all accounts.

[2019-06-05 20:48] davidyuk opened #49 "AEX-2: Peers metadata"
In AEX-2 wallet and aepp exchanges with names as strings by calling of `wallet.request.connect` method. I think just name it is not enough. In Base app we are fetching [Web App Manifest](https://developer.mozilla.org/en-US/docs/Web/Manifest) of aepp that we are taking to, we can do it without additional standards, just fetching manifest by aepp url.

I propose to make peers metadata a separate sta

[2019-06-05 21:10] davidyuk opened #50 "AEX-2: In which case may be needed to update network from aepp?"
As I see, currently wallet cat requests updation of its network details by `wallet.get.network`, then aepp should call `aepp.update.network`, passing only `networkId`. In which case may be needed to update network from aepp? More reasonable is to be able to get the current network id from the wallet, to be able to show, for example, special UI if the use on a test network.

Also, I'm not a fan of

[2019-06-05 21:23] davidyuk opened #51 "AEX-2: Add explicit way to subscribe to the current account"
Looks like that currently it implemented implicitly by using of JSON-RPC in an unusual way: aepp sends `aepp.get.address` notification, wallet should send `wallet.update.address` notification in reply (#46). We can make it more explicitly and clear by:
- apply proposal from #46
- add methods for subscribing/unsibscribing to account changes on aepp side
- add a notification for pushing a new accoun

[2019-06-06 06:46] shekhar-shubhendu commented on #44
It is a JSON-RPC response object. I'll move it under a different heading and make the text more clear.

### Proposal
[code]

### Standard JSON-RPC Error Response Object
[code]

[2019-06-06 06:47] shekhar-shubhendu commented on #50
Will be added to the rationale section and then let's discuss it in the forums.

[2019-06-06 06:51] shekhar-shubhendu commented on #47
Please expand on the topic.

[2019-06-06 06:56] shekhar-shubhendu commented on #49
Does not makes sense to introduce and use a standard meant for Web Apps into a standard that can be used even by desktop apps.
If more fields are necessary please provide a list of them with a rationale behind each and we can discuss it here or in the forums.

[2019-06-06 06:59] shekhar-shubhendu commented on #45
noted. will add a better explanation, rationale and intended usage.

[2019-06-06 11:10] #21 closed, assigned to nobody

[2019-06-07 16:50] davidyuk commented on #49
I see your point, Web App Manifests has some properties that are incompatible in case of the native desktop apps like `display: "browser"`, `scope`, `serviceworker`, `start_utl`. But Web Manifests technically can handle that:

Let's add "icon" field. Icons are helpful because they make possible to recognize app faster than by reading its name, also most of the applications around us using them so

[2019-06-07 16:58] davidyuk commented on #47
[`wallet.update.address`](https://github.com/aeternity/AEXs/blob/aa8c1a6/AEXS/aex-2.md#parameters-6) method provides a list of `connected` accounts. How aepp can use these connected accounts? Is it necessary to have it in standard?

[2019-06-07 17:07] davidyuk commented on #44
Currently, it is in the same list with `ping/pong` that is definitely methods, please explain it better in AEX.

[2019-06-07 17:13] davidyuk opened #53 "AEX-2: For what reason error object should contain request?"
It makes more difficult to use third party RPC server/clients that by default won't add request to predefined errors like "Method not found".

[2019-06-07 17:28] davidyuk opened #54 "AEX-2: "aepp.get.address" is it notification or method?"
JSON-RPC 2.0 defined two types of requests: actual method call and [notification](https://www.jsonrpc.org/specification#notification). Notification is used when the client is not interested in the return value. As far as the current version of AEX-2 doesn't explain return value for `aepp.get.address` method I was thinking that it is notification and any errors should be returned in a call of anoth

[2019-06-11 13:17] #43 closed, assigned to nobody

[2019-06-21 02:18] davidyuk opened #55 "AEX-2: Can wallet modify a transaction on signing?"
As I see technically it can, because `aepp.request.sign` returns a signed transaction (not a signature of the transaction). We need this feature for the Base app to allow the user to change transaction fee before signing. Also, it should be useful to change nonce in some cases. Would be good to explicitly mention the possibility to change a transaction on signing in AEX-2 if it is intentioned beha

[2019-06-27 15:06] knarz commented on #27
Addressed in b762e6d, please re-open if that doesn't solve the problem

[2019-06-27 15:06] #27 closed, assigned to nobody

[2019-07-31 14:34] davidyuk opened #60 "AEX-2: In what cases aepp may need to disallow wallet to change transaction?"
Or what is the purpose of `locked` flag in `aepp.request.sign` params? (related issue: #55)

[2019-07-31 14:37] davidyuk commented on #55
Solved in #57

[2019-07-31 14:37] #55 closed, assigned to nobody

[2019-07-31 14:48] davidyuk opened #61 "AEX-2: Is it necessary to pass the empty object to peer.connection.close notification?"
Can we just omit parameters in that case? Also, that is `¬` stands for?

[2019-07-31 14:49] davidyuk commented on #54
Solved in #57

[2019-07-31 14:49] #54 closed, assigned to nobody

[2019-07-31 14:52] davidyuk commented on #53
Solved in #57

[2019-07-31 14:52] #53 closed, assigned to nobody

[2019-07-31 14:57] davidyuk commented on #36
Solved in #57

[2019-07-31 14:57] #36 closed, assigned to nobody

[2019-07-31 14:58] davidyuk commented on #22
@shekhar-shubhendu this issue is still actual for AEX-5

[2019-07-31 15:00] davidyuk commented on #29
Solved in #57

[2019-07-31 15:00] #29 closed, assigned to nobody

[2019-07-31 15:06] davidyuk commented on #39
So, this determination is not a part of AEX-2, I suppose that for this purpose should be used the domain of URL / postMessage origin or some other transport depending identifier.

[2019-07-31 15:06] #39 closed, assigned to nobody

[2019-07-31 15:11] davidyuk commented on #40
@shekhar-shubhendu can you confirm that the current version of AEX-2 requires a direct connection (without third parties connected to the same bus) between aepp and wallet?

[2019-07-31 15:14] davidyuk commented on #44
Solved in #57

[2019-07-31 15:14] #44 closed, assigned to nobody

[2019-07-31 15:17] davidyuk commented on #45
Solved in #57

[2019-07-31 15:17] #45 closed, assigned to nobody

[2019-07-31 15:32] davidyuk commented on #50
@shekhar-shubhendu how #57 resolves this issue?

[2019-07-31 15:35] davidyuk commented on #49
Metadata in AEX-2 overlaps with https://github.com/aeternity/AEXs/pull/56, I think we should define it separately.

[2019-07-31 15:36] davidyuk commented on #51
Solved in #57

[2019-07-31 15:36] #51 closed, assigned to nobody

[2019-07-31 15:41] davidyuk commented on #48
@shekhar-shubhendu how #57 resolves this issue?

[2019-07-31 15:45] davidyuk commented on #46
AEX-2 should have a separate method that returns the current address without making a subscription because subscriptions are not necessary for all applications, and simple address call should be easier to understand for beginners.

[2019-08-01 07:25] shekhar-shubhendu commented on #61
yep. this looks like a editing mistake. will remove it. thanks for noticing.

[2019-08-01 07:37] shekhar-shubhendu commented on #60
as you can see the default value of locked is `false` so this should not be a concern for the base-app.

but nevertheless since you've asked, this has been put as mechanism for apps that would not like the users to update the created transactions therefore they can indicate this using this locked field.
E.g. an app that handles state channel txs would not want wallet or users to update the txs cre

[2019-08-01 07:43] shekhar-shubhendu commented on #50
as you can see this method has been removed from the aex-2 and we've added a notification for the wallet and app to inform the other party about change in network so that they can handle the requests appropriately.

wallet/app can inform other party about the network change but they can not enforce or trigger a network change.

[2019-08-01 07:46] shekhar-shubhendu commented on #49
yes i guess but this can be done later too when that aex is final and should not be breaking change for aex-2.
or let me know if you have an estimate on its completion and we can try to release both together?

[2019-08-01 07:48] shekhar-shubhendu commented on #48
- for the first you can subscribe only to the `current` account.
- for the second you can subscribe to both `current` and `connected` accounts.

[2019-08-01 07:55] shekhar-shubhendu commented on #46
i don't think it is much complicated to understand really.
having multiple methods that do the same thing will be more confusing for people.

[2019-08-01 07:57] shekhar-shubhendu commented on #22
@davidyuk will have to think about it. but most probably with latest version of aex-2 this should also be removed.

[2019-08-01 08:24] shekhar-shubhendu commented on #40
yes and no.
For AEX-2 to work there should be a direct connection and you can see it in the reference implementation provided.
For AEX-2 to set up connection, depends from case to case. for eg. in case of browser extension the wallet needs to do a broadcast message for the apps to detect it and initiate a direct connection.

[2019-08-01 11:49] noandrea commented on #26
@AndreasGassmann @mradkov @mpowaga @nduchak @knarz
can you add your input with the goal to resolve the issue?

[2019-08-01 15:14] davidyuk commented on #40
Can an extension send a message to a particular tab? Or you mean that inside of browser tab, there can be several aepps?

[2019-08-01 15:37] davidyuk commented on #49
@j28 what do you think about it?

[2019-08-01 15:58] davidyuk commented on #60
A possibility of set `locked: true` will make Base app to implement its support.

I see that this flag does. Why app that handles state channel may not want a wallet to update transaction?

If a wallet has several signing requests at the same time (apps can't foresee this so they send transactions with the same nonce), in that case, the wallet can set nonces in order of confirmations by itself, us

[2019-08-01 16:20] davidyuk commented on #50
Have you updated the rationale section as you promised in the message above? Is there any practical use cases when aepp need to inform wallet about network id? Isn't enough that network id is a part of the transaction that aepp sends to a wallet for signing?

[2019-08-01 16:27] davidyuk opened #63 "AEX-2: In which cases wallet.broadcast.tx method are necessary?"

[2019-08-01 16:31] davidyuk opened #64 "AEX-2: Add method for signing of personal message"
Related PR and discussion: https://github.com/aeternity/AEXs/pull/18

[2019-08-01 16:33] davidyuk opened #65 "AEX-2: Explain how transaction encoded to string"

[2019-08-01 16:35] #61 closed, assigned to nobody

[2019-08-01 16:37] davidyuk opened #66 "AEX-2: Consistent explanations of exceptions that can be thrown by each method"

[2019-08-01 16:39] davidyuk commented on #38
All unresolved issues are moved to separate issues

[2019-08-01 16:39] #38 closed, assigned to nobody

[2019-08-01 16:47] davidyuk opened #67 "AEX-2: Consider implementing the ability to connect two wallets"
AEX-5 mostly duplicates the functionality of AEX-2 I think we should unify them into AEX-2. So, if we want to connect two wallets, the "master" wallet should communicate with "slave" wallet as with aepp. (this proposal also mentioned in #42)

[2019-08-02 08:39] shekhar-shubhendu commented on #67
it would be best to keep them different as aex-5 will does not treats 2 wallets differently as in base-aepp i.e. "master" and "slave".
both the connected wallets are treated same and can forward request to one another.
moreover, these two things are different functionalities and therefore should be kept separate.

[2019-08-02 08:41] shekhar-shubhendu commented on #65
why the encoding and decoding of transaction is required here. this is self-explanatory.
if you have something in mind please provide the details here and we can discuss if we should add it to the aex.

[2019-08-02 08:43] shekhar-shubhendu commented on #64
we're aware of this. will add it to the aex-2.

[2019-08-02 08:46] shekhar-shubhendu commented on #63
`wallet.verify.tx`: was removed earlier. please update the issue accordingly.

`wallet.broadcast.tx`: if wallet has ability to create a transaction but can not broadcast.

[2019-08-02 08:50] shekhar-shubhendu commented on #60
There are certain fields in the state channel tx and most of the time the tx are created by the node and should not be changed by the user.

is this the only case/field you're worried about. if you want we can add an exception for this in the aex.

[2019-08-02 10:54] davidyuk commented on #67
Is it really needed to sign transactions in both directions? Can you provide some practical use cases? If it is needed, why they can't call `aepp.request.sign` from AEX-2?

[2019-08-02 11:03] davidyuk commented on #65
The way what we using to encode transaction is invented by aeternity's developers and we shouldn't assume that it is obvious for everybody who reads AEX-2. I propose to just add a link explaining it.

[2019-08-02 11:24] davidyuk commented on #65
"MUST", "MUST NOT", "REQUIRED" and so on even more self-explanatory than tx encoding, but you have added a link to RFC 2119. Why don't do the same with transaction encoding?

[2019-08-02 11:30] davidyuk commented on #60
What fields? Can you be more specific?

I want to have removed all unnecessary parts of AEX-2 like this one to reduce its overcomplexity.

[2019-08-02 11:38] davidyuk commented on #63
In which cases wallet should create transaction by itself? I was thinking that only aepp can create a transaction and ask the wallet to sign it.

What is the purpose of `verify` option and what means transaction verification in general?

[2019-08-05 06:31] shekhar-shubhendu commented on #67
@emil-apeunit would be the best person to provide details here.

[2019-08-05 06:32] shekhar-shubhendu commented on #65
okay. fair enough. can you provide me a link that would satisfy this request. i would be happy to add that.

although it is not really needed as a reader might not know what `"MUST", "MUST NOT", "REQUIRED"` correctly stand for but will definitely know how a transaction in aeternity looks like.

[2019-08-05 07:09] shekhar-shubhendu commented on #60
Example: `channel_create` tx. this defines the list of fields that both the parties need to agree on for the state channel creation and therefore both party will have to sign it. if one party modifies the field on receiving a transaction the state channel will not be created.

please keep things towards more constructive side.

please provide a list of fields that you think should be outside the p

[2019-08-05 07:11] shekhar-shubhendu commented on #26
@noandrea can you set a deadline for requested parties for providing input too else this will remain open.

[2019-08-05 07:15] shekhar-shubhendu commented on #66
this doesn't seem like an issue but only a cosmetic fix.
this will applied by removing the error details provided in some methods.

[2019-08-05 16:48] davidyuk commented on #66
Why don't make AEX-2 more strict by setting possible exceptions for each method? Right now AEX-2 allows `aepp.subscribe.address` method to return `Broadcast Failed` exception, does it have sense?

[2019-08-05 16:56] davidyuk commented on #65
Can you explain the last point?

[2019-08-05 17:22] davidyuk commented on #60
else this issue will be resolved without them and considered resolved.

Ok, it should be at least: `fee`, `nonce`. Looks more reasonable to replace `locked` flag with a list of fields and transaction type that can be edited by wallet. Otherwise, aepp developer should set `locked: true` even for spend transactions to ensure that wallet won't change receiver address, as far as AEX-2 allows wallet to

[2019-08-06 10:34] mradkov commented on #64
We are actually working on something regarding this in the waellet.

![0-02-05-5323d7e8b98b329c6e17cb49a1735e11061bdc764a27ee35582f7af8b4577c51_1c6d982c98ae1b](https://user-images.githubusercontent.com/13139371/62533249-e9bdca00-b84e-11e9-8ae6-3da6bc7bddfa.jpg)

[2019-08-06 13:14] shekhar-shubhendu commented on #65
i mean any one using aeternity esp. a dev will know what a transaction in string format means and looks like.

[2019-08-06 13:19] shekhar-shubhendu commented on #66
i think the error details are provided are enough and devs can follow through that.
adding error types for each method will only add redundancy.

it will be removed and has been left there by mistake.

[2019-08-06 13:24] shekhar-shubhendu commented on #63
wallet can create a transaction by itself(like spendtx) and also sign the transactions from aepps.
it might happen that a wallet does not have the ability to connect to the node or the node behind the wallet goes down then the wallet can propose the user to broadcast the tx via node behind the aepp.

[2019-08-06 13:27] shekhar-shubhendu commented on #60
@davidyuk yes. actually i was also thinking of something like that. will make the appropriate changes and let you know.

[2019-08-06 13:36] shekhar-shubhendu commented on #50
Let's assume the wallet wants to maintain a list of aepps it is/has connected to then it would be a nice feature for the wallet to show this detail there. this was the user can just open the wallet and see which aepp is on which network without going to check this on the aepp side.
if this info is part of the sign request then wallet can only say what was the network id of the last signed tx.

[2019-08-08 10:10] mradkov commented on #26
I'm supporting @davidyuk's proposal here. I think its more readable this way.

[2019-08-08 10:19] mradkov commented on #63
`wallet.broadcast.tx` is kind of edge case but is somehow a good-to-have feature in cases like @shekhar-shubhendu suggested.

[2019-08-08 10:45] shekhar-shubhendu commented on #40
Let's take a simple case and don't go with the multiple aepps in a single tab(but as per the design the aex-2 will support that too)

- as you can see from the text in aex-2 the aepp is making a connection request to wallet and not the other way round.
- therefore, when you have an extension based wallet the aepp loaded in a tab might not know if the extesnion is there or not or to which extension

[2019-08-08 10:50] shekhar-shubhendu commented on #47
every connected wallet will return this list. this means that wallet does not hold the keys to these accounts but is connected to the wallet that does. this connection can either be 1-1 or via another wallet that it can forward sign request through.
getting signature for any of the connected account will be same as for current account and wallet will internally handle the request forwarding.

yes.

[2019-08-08 10:55] nduchak commented on #47
So the main idea is to allow AEPP to use all Wallet available accounts(Can prepare transaction not only for current Wallet account)?

[2019-08-08 10:57] shekhar-shubhendu commented on #47
@nduchak yes.

[2019-08-08 11:02] noandrea opened #70 "Possible overlap between AEX-2 and AEX-7"
@AndreasGassmann @shekhar-shubhendu it appears to me that the two proposal are overlapping in one or more area, for example messages being supported.
Can you confirm that this is not the case?

[2019-08-08 11:22] shekhar-shubhendu commented on #70
@noandrea no both are different. aex-7 deals with data serialization. aex-7 will be used in aex-4 deeplinking spec for the same purpose.

[2019-08-09 14:56] AndreasGassmann commented on #70
I agree with @shekhar-shubhendu in that they are different. AEX-7 focusses on the format how messages can be exchanged.

[2019-08-09 15:00] AndreasGassmann commented on #67
While I agree that those 2 proposals are somewhat related, I think they should be kept separate simply because it's a completely different use case and I would also argue that AEX-2 is more important right now, AEX-5 is more something that could be used in the future. So we should try to move AEX-2 forward as fast as possible, and then adjust AEX-5 so it builds upon AEX-2.

[2019-08-09 15:05] AndreasGassmann commented on #66
Maybe I'm missing something, but there is already a list of possible errors included in AEX-2. Couldn't we simply also specify which methods can throw each of these errors?

[2019-08-09 15:09] AndreasGassmann commented on #65
Even though encoding/decoding of txs is not directly related to this AEX, I think it would be beneficial for developers to have a link where they can read more about it.

[2019-08-09 15:13] AndreasGassmann commented on #64
I would also add a method to sign and verify messages. AEX-8 will include the format on how the actual signing/verification that is done.

@mradkov Could you please comment in #18 on how you do your message signing? The reason we opened #18 was so all of our signed messages are compatible with each other and every wallet can verify messages signed by another one.

[2019-08-09 15:33] AndreasGassmann commented on #60
I think the last idea discussed with the list of "locked" fields makes most sense so far.

However, from a security perspective, we can never assume that the wallet plays by the rules and doesn't just simply ignore the "locked" fields. So fields like `amount`, `fee` and `recipient` (maybe more?) should always be validated on the aepp / user side anyway.

So I'm not sure if this flag makes sense at

[2019-08-09 15:40] AndreasGassmann commented on #46
@davidyuk I agree that it would be simpler, but why not just add some good examples so beginners can simply copy/paste the code and it works?

[2019-08-12 08:04] davidyuk commented on #67
I'm not sure that they are completely different use cases. For example, MyEtherWallet implements support of MetaMask in a way that MetaMask shouldn't implement any special interfaces for inner-wallet communication, and it works fine. Do we need additional interfaces for inner-wallet communication?

[2019-08-12 08:39] davidyuk commented on #65
AEX-2 reader may be a developer that is not familiar with aeternity but he needs to do something quickly with it, and if you put a link to encoding explanation then he won't need to search it somewhere else that for sure should increase conversion 🙂

what if later in aeternity ecosystem appear a new way/extension of the current way to encode transaction to string? it will make AEX-2 definition amb

[2019-08-12 08:56] shekhar-shubhendu commented on #65
@davidyuk @AndreasGassmann  I totally agree with you and as stated above i'm happy to add the links.

https://github.com/aeternity/protocol/blob/master/node/api/api_encoding.md
https://github.com/aeternity/protocol/blob/master/serializations.md

we can add these to url for dev reference.
Let me know if this satisfies your request.

[2019-08-12 09:14] shekhar-shubhendu commented on #66
@AndreasGassmann the [meaning](https://github.com/aeternity/AEXs/blob/master/AEXS/aex-2.md#types-of-errors) part of the errors table defines exactly when the error must be thrown.
and if possible I would not go all the way defining a list of errors for each method as this not only creates redundancy but will also create room for typos, errors.
more generic the things are the better it would be in

[2019-08-12 09:20] shekhar-shubhendu commented on #60
@AndreasGassmann it was never meant to be used as a security feature but more of an indication to the wallet that it can modify the tx as required or not.

[2019-08-12 09:27] AndreasGassmann commented on #67
Can't we just have another AEX later that extends this one? All I'm saying is that if we include this here, it will take longer. And as far as I'm aware, there is currently no concrete plan to use inter-wallet communication, so maybe let's just wait until there is and we can make decisions based on the limitations and use-cases we encounter then.

[2019-08-12 09:31] AndreasGassmann commented on #65
Yes, perfect!

[2019-08-12 09:36] shekhar-shubhendu commented on #26
@davidyuk @mradkov can you please provide a brief description of what the naming scheme should be and how it benefits the overall readability than the current one. also please take a look at the current method and notification names and provide a corresponding list.

[2019-08-13 11:00] davidyuk commented on #70
Proposals are different, but both of them defines requests types and data serialization scheme. AEX-2 and AEX-7 definitely overlapping.

[2019-08-13 11:08] davidyuk commented on #67
Ok, but in future, I will vote for not doing a separate standard for inter-wallet communication because AEX-2 already implements that.

[2019-08-13 11:08] #67 closed, assigned to nobody

[2019-08-13 11:18] davidyuk commented on #66
I have misunderstood it, what will be removed?

[2019-08-13 11:41] davidyuk opened #71 "AEX-2: Consider to use predefined "Invalid params" exception instead of "Invalid Transaction", "Invalid Address""
"Invalid Transaction" and "Invalid Address" exceptions is a special case of ["Invalid params"](https://www.jsonrpc.org/specification#error_object), do we need to handle them separately?

That should aepp sent in response if addresses are correct but they sent in an array instead of object?

[2019-08-13 11:53] davidyuk commented on #64
In which cases verification is needed?

[2019-08-13 12:15] davidyuk commented on #63
why it can't be handled by usual transaction sign flow?

Let's assume that wallet is not connected to any aepp and don't have access to any node then to send tokens wallet should ask the user to connect it to any aepp. Sounds like a bad UX. Also, I doubt that we can make this feature usable because aepp developer won't be interested to support edge cases like that.

But I know how we can make it m

[2019-08-13 12:40] davidyuk commented on #50
What if aepps resets network id to mainnet by default? Then the user will assume that aepp uses testnet but after opening it will appear to be connected to mainnet. It makes "without going to check this on the aepp side" a bad strategy.

https://github.com/aeternity/AEXs/pull/56 proposes to store supported networks in app metadata, it is better because wallet shouldn't open aepp to know it's netwo

[2019-08-13 13:07] davidyuk commented on #40
Ok, thank you!

[2019-08-13 13:07] #40 closed, assigned to nobody

[2019-08-13 13:12] davidyuk commented on #26
@shekhar-shubhendu I think I just have applied `who - what - how` rule in the right way. Can you respond on https://github.com/aeternity/AEXs/issues/26#issuecomment-498782629?

[2019-08-13 15:58] davidyuk opened #72 "AEX-2: Should all words in error messages be capitalized?"
As I see error messages of JSON-RPC specification uses capital letters only in the first word and words that mean entities defined there (like Request), maybe we should do the same instead of making all words starting with a capital letter?

[2019-08-13 16:01] davidyuk opened #73 "AEX-2: Implement a separate method for unsubscription"
Calling `aepp.subscribe.address({ type: 'unsubscribe', value: 'current' })`, in other words to call subscribe method for unsubscription looks illogical.

[2019-08-13 16:20] davidyuk commented on #46
@AndreasGassmann sure we can do that

I have one more point about this. If we are using transport when only an aepp can initiate a message exchange (like deep linking/qr codes) then a subscription for address won't have sense, because wallet won't be able to provide address updates. To have two methods and to say that `subscribe` won't be available is clearer than to define a new behavior of `subs

[2019-08-13 16:38] davidyuk commented on #47
Ok, this one resolved. I got stuck on this probably because of current Base app architecture.

[2019-08-13 16:38] #47 closed, assigned to nobody

[2019-08-13 16:58] davidyuk commented on #48
What meaning has a current account for aepp if it already has access to several accounts? Aepp can't ask wallet to change current account, but it can use any of them to sign a transaction. Looks that to know `current` account is not useful in that case. So, I propose to return only an object of accounts. If it contains only one account it means that it is "the current one" if not then aepp can sho

[2019-08-14 09:36] AndreasGassmann commented on #60
Is there a "list" of reasons why a wallet would ever need to change a transaction?

From this discussion I can see that one of them is the nonce that might be edited if there are many transactions, and maybe the fee that needs to be adjusted.

But to be honest, if I call a method called `aepp.request.sign`, I would never ever expect the other side to alter my request in any significant way and sig

[2019-08-15 09:51] emil-apeunit commented on #67
@davidyuk I'm also very much in favor of keeping them separate, but AEX-5 can extend AEX-2 so that we don't have unnecessary duplicates.

[2019-08-15 16:30] mradkov commented on #64
This is mostly for custom logic or verifications with signed messages. Some applications might use signed messages for authorization or for relaying transactions.

[2019-08-19 08:15] davidyuk commented on #64
As I see verification can be done on aepp side, so it doesn't require an additional method in aepp-wallet communication

[2019-08-20 03:38] davidyuk opened #76 "AEX-4: Add `web+` prefix to be compatible with registerProtocolHandler"
https://developer.mozilla.org/en-US/docs/Web/API/Navigator/registerProtocolHandler#Permitted_schemes
This proposal is inspired by [SEP-0007](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0007.md#security-best-practices-for-compliance-with-this-sep)

[2019-08-20 04:28] davidyuk opened #77 "AEX-4: Can callback url be a template?"
In some cases (like usage of vue-router) it is easier to accept parameters in a path instead of a query. We can use URL templates to allow the vendor to set a way how parameters should be inlined into a callback URL. For example, this request:
[code]
can redirect the user to
[code]
This approach supports the initial proposal as well:
[code]

Also, this approach can help to get rid of the `return`

[2019-08-20 04:56] davidyuk opened #78 "AEX-4: Why it defines two scheme names?"
From what I found, [Bitcoin](https://github.com/bitcoin/bips/blob/master/bip-0021.mediawiki#abnf-grammar), [Ethereum](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-831.md#syntax), [Stellar](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0007.md#specification) are using a single name for URI schemas, why do we need two names (`ae` and `aeternity`)? From my point of vi

[2019-08-20 05:06] davidyuk opened #79 "AEX-4: Add ability to set AENS name instead of address"
AENS names are more readable than aeternity addresses.

[2019-08-20 05:14] davidyuk opened #80 "AEX-4: Add status callback parameter"
As proposed in https://hackmd.io/@0GocXL2UTk-75Bt3XDppsA/BJObJntjQ?type=view#3-Wallet-app-opens-the-deep-link-to-the-source-app

It makes easier for aepp to understand what happened if the request didn't succeed.

[2019-08-20 05:39] davidyuk opened #81 "AEX-4: it shows an address that exists in blockchain or user's accounts?"
In the 2nd step, "Check if the address exists or not" this will check address existence in the user's accounts or that address exists in blockchain?

As I understand `schema:address` means an intention to send some tokens in Bitcoin and Ethereum, not just account opening, I think we shouldn't break that semantic in this proposal. It can be used in cases like if some charity is collecting donations

[2019-08-20 05:51] davidyuk opened #82 "AEX-4: Was it intentional to make callback an URL instead of URI?"
Can we use URI in that case? If not then why?

[2019-08-20 06:04] davidyuk opened #83 "AEX-4: Special chars in callback URL"
Can callback URL contain `?`, `&` chars? If yes, then how they should be encoded? I think we should mention it in AEX.

[2019-08-20 06:09] davidyuk opened #84 "AEX-4: Define what is amount"
Example in [BIP-0021](https://github.com/bitcoin/bips/blob/master/bip-0021.mediawiki#transfer-amountsize). One more example: [EIP-681](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-681.md#syntax) is more flexible than BIP-0021 and this AEX, it defines scientific notation and an ability to send amounts of tokens on top of ethereum.

[2019-08-20 06:11] davidyuk opened #85 "Consider implementing an analog of EIP-1710"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1710.md

[2019-08-20 06:27] davidyuk opened #86 "AEX-4: Does txId mean transaction hash?"
I propose to use `txHash` to be consistent at least with aeternity node api:
[code]
https://sdk-testnet.aepps.com/api

Also would be great to explain what is it (similar issue: #65).

[2019-08-21 08:27] davidyuk opened #87 "AEX-4: Propose to avoid usage of "deep link" term"
Because of possible confusion with  android deep links/ios universal links

[2019-08-21 08:30] davidyuk opened #88 "AEX-4: Drop "æternity" from the title"
As I understand, all AEXs related to aeternity, so it is not necessary to mention it additionally.

[2019-08-21 08:34] davidyuk opened #89 "Consider implementing an analog of EIP-831"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-831.md
Adding of prefixes will allow future extendability of the proposed URI scheme.

[2019-08-21 08:50] davidyuk opened #90 "Adoption of EIP-681"
The current version of AEX-4 based on BIP-0021 adding some breaking changes to it without proved rationale. I propose to take EIP-681 as a base for AEX-4, and try to adopt it changing as less as possible. Most of the things are implemented better there, especially an ability to call the contact method.

https://github.com/ethereum/EIPs/blob/master/EIPS/eip-681.md

[2019-08-21 08:53] davidyuk opened #91 "AEX-4: Clean up references"
I can't get how
https://github.com/bitcoin/bips/blob/master/bip-0070.mediawiki
https://github.com/bitcoin/bips/blob/master/bip-0072.mediawiki
are connected to AEX-4.

[2019-09-18 14:23] shekhar-shubhendu commented on #90
EIP 681 is still a draft. Therefore, if we adopt it then we can not finalize the AEX until the base EIP is finalized.

[2019-09-18 14:25] shekhar-shubhendu commented on #91
If you're unable to understand then please open an issue stating the same.
The title `Clean up references` is out of context.

[2019-09-18 14:26] shekhar-shubhendu commented on #89
EIP 831 is still a draft. Therefore if we adopt it then we can not finalize the AEX until the base EIP is finalized.

[2019-09-18 14:28] shekhar-shubhendu commented on #85
EIP 1710 is still a draft. Therefore if we adopt it then we can not finalize the AEX until the base EIP is finalized.

[2019-09-18 14:29] shekhar-shubhendu commented on #76
👍

[2019-09-18 14:30] shekhar-shubhendu commented on #78
it is still a draft. the discussion is open on which one(or both) to use.
the final version will have a single scheme.

[2019-09-18 15:24] shekhar-shubhendu commented on #65
added the references. I think this can be closed. let me know if anything else is required.

[2019-10-07 09:12] davidyuk opened #96 "AEX-8: Compare with existing standards in other cryptocurrencies"
It would be interesting to compare the proposed standard with existing implementation in other cryptocurrencies to ensure that it is significantly better than they, otherwise to adopt an existing one for better compatibility.

[2019-10-07 12:40] davidyuk commented on #91
If you can't explain it then I propose to remove them 🤷‍♀️

[2019-10-07 12:55] davidyuk commented on #90
Why we can't finalize it internally? They have invested more resources into developing that standard, it does not have the sense to ignore it even if it has a draft status.

[2019-10-07 12:58] davidyuk commented on #89
https://github.com/aeternity/AEXs/issues/90#issuecomment-538996635

[2019-10-07 13:00] davidyuk commented on #85
https://github.com/aeternity/AEXs/issues/90#issuecomment-538996635

[2019-10-07 14:04] davidyuk commented on #78
I have been asked to review it. I'm also thinking that it is not very efficient to review draft AEXs.

I think that we should use `aeternity:`.

[2019-10-07 14:15] davidyuk commented on #72
Almost fixed: https://github.com/aeternity/AEXs/pull/93/files#r332043248

[2019-10-07 14:21] davidyuk commented on #65
ok, I'm closing this issue (fixed in #93)

[2019-10-07 14:21] #65 closed, assigned to nobody

[2019-11-13 10:51] noandrea commented on #73
please provide a pr with the changes you want and close the issue

[2019-11-13 10:52] noandrea commented on #72
please provide a pr with the changes you want and close the issue

[2019-11-13 10:52] noandrea commented on #71
please provide a pr with the changes you want and close the issue

[2019-11-13 10:55] noandrea commented on #70
after a debate on the issue in the aexpansion calls it was decided to change the nature of AEX-7 and to limit it to a serialization specification (only transport)

[2019-11-13 10:55] #70 closed, assigned to nobody

[2019-11-13 15:40] j28 commented on #49
we should use the metadata standard from the aex draft.

[2019-11-13 16:10] shekhar-shubhendu commented on #66
please ignore.

[2019-11-13 16:12] shekhar-shubhendu commented on #48
this will be kept as it is.

this will not be impl. as it only removes the distinction and does not add anything extra.

[2019-11-13 16:14] shekhar-shubhendu commented on #50
@davidyuk as suggested, this functionality will be removed

[2019-11-13 16:17] shekhar-shubhendu commented on #60
the AEX will be reverted to use `locked` flag instead of a list. it would be made optional to honor the field but aepp can use it to signal its intentions.

[2019-11-13 16:19] shekhar-shubhendu commented on #63
the above feature will be kept to handle the use case as mentioned earlier

no, this will not be part of the aex-2. if required please provide a separate AEX.

[2019-11-14 06:42] davidyuk commented on #72
done, I will close it when #97 will be merged

[2019-11-14 16:19] #72 closed, assigned to nobody

[2019-11-14 21:37] #20 closed, assigned to nobody

[2019-11-14 22:51] knarz opened #100 "AEX-1: Aeternity expansion process"
### Discussions-To:

https://forum.aeternity.com/t/aeternity-best-current-practices-aexpansions/2461/27

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-1.md

[2019-11-14 22:56] noandrea opened #101 "AEX-2: Third-party Wallet Provider Support"
### Discussions-To:

https://forum.aeternity.com/t/aex-2-js-sdk-interfaces-for-wallets/2715

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-2.md

[2019-11-14 22:59] knarz opened #102 "AEX-3: Secret storage format"
### Discussions-To:

https://forum.aeternity.com/t/aex-3-secure-storage-format/3220/9

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-3.md

[2019-11-15 07:57] shekhar-shubhendu opened #108 "AEX-4: æternity wallet deep linking specification"
### Discussions-To:

https://forum.aeternity.com/t/aex-4-aeternity-wallet-deep-linking-specification/3231

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-4.md

[2019-11-15 07:59] shekhar-shubhendu opened #109 "AEX-5: Inter-Wallet Communication"
### Discussions-To:

https://forum.aeternity.com/t/aex-5-inter-wallet-communication/3371

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-5.md

[2019-11-15 08:53] noandrea commented on #63
It is still under debate about where this functionality belongs and what is the correct implementation.

[2019-11-15 09:03] noandrea commented on #60
still on debate. the `locked` flag will be removed from the aex-2.

[2019-11-15 10:17] nikita-fuchs opened #111 "AEX-6: Strategic Semantic Syntax Part 1: Contract Interaction Wrapper"
Discussions-To:
https://forum.aeternity.com/t/aex-6-strategic-semantic-syntax-contract-interaction-wrapper/3344/4

Content URL
https://github.com/nikita-fuchs/AEXs/blob/patch-1/AEXS/aex-6.md

[2019-11-15 10:21] AndreasGassmann opened #112 "AEX-7: Data Serialization"
### Discussions-To:

https://forum.aeternity.com/t/aex-7-data-serialization/3461

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-7.md

[2019-11-15 10:21] AndreasGassmann opened #113 "AEX-8: Message Signing"
### Discussions-To:

https://forum.aeternity.com/t/aex-8-message-signing/3462

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-draft_message_signing.md

[2019-11-15 10:27] thepiwo opened #114 "AEX-9: Fungible Token Standard"
### Discussions-To:

https://forum.aeternity.com/t/aex-9-fungible-token/3565

### Content URL

https://github.com/mradkov/aeternity-fungible-token

[2019-11-15 10:30] noandrea opened #115 "AEX-10: Derivation path for deterministic wallets"
### Discussions-To:

https://forum.aeternity.com/t/aex-10-derivation-path-for-deterministic-wallets/3586

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-10.md

[2019-11-15 10:51] robert-zaremba opened #116 "AEX-11: Compliant Fungible Token Standard"
### Discussions-To:

https://forum.aeternity.com/t/aex-11-compliant-fungible-token-standard/5044

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-11.md

[2019-11-15 11:00] sennui opened #117 "Verifiable off-chain state for accounts"
### Discussions-To:

https://forum.aeternity.com/t/aex-draft-12-off-chain-state/4803

### Content URL

https://github.com/michalzajda/AEXs/blob/master/AEXS/aex_draft_off_chain_state.md

[2019-11-15 15:06] #26 closed, assigned to nobody

[2019-11-15 15:10] #49 closed, assigned to nobody

[2019-11-18 08:12] AndreasGassmann commented on #112
It has been agreed that this AEX will be closed because of overlap with AEX-2 (https://github.com/aeternity/AEXs/issues/101). Another AEX, only concerned about the transport layer and not about the message format, will be opened later.

[2019-11-18 09:57] davidyuk commented on #60
fixed in #118

[2019-11-18 09:57] #60 closed, assigned to nobody

[2019-11-18 10:31] #66 closed, assigned to nobody

[2019-11-19 00:22] #50 closed, assigned to nobody

[2019-11-19 01:37] davidyuk opened #119 "AEX-5: Simplify methods names"
make them consistent with AEX-2 (#26)

[2019-11-19 03:53] davidyuk commented on #71
"Invalid address" got removed recently. "Invalid transaction" error should be used in obvious use cases, like when the number of arguments or their JSON type doesn't match. "Invalid transaction"  may be useful if it would indicate that the internal structure of the transaction is broken, to distinguish it with a case when `transaction.sign` received a number instead of a string.

[2019-11-19 03:53] #71 closed, assigned to nobody

[2019-11-19 09:01] noandrea commented on #112
@knarz this AEX is marked as withdraw with #126

[2019-11-19 10:34] noandrea commented on #101
@knarz can you please merge this PRs:
#121 #123 #124

[2019-11-19 15:39] knarz commented on #119
Please, in the future refrain from opening a single issue for every task. This only clutters the issues list. Either use the forums if you want to discuss things or have a single discussion issue per AEX.

[2019-11-19 15:39] #119 closed, assigned to nobody

[2019-11-20 11:29] #63 closed, assigned to nobody

[2019-11-21 03:46] davidyuk commented on #109
I'm asking to solve this: #119

[2019-11-21 10:39] AndreasGassmann opened #129 "AEX-129: Data Serialization"
### Discussions-To:

_content will follow_

### Content URL

_content will follow_

[2019-11-21 11:30] noandrea commented on #101
has been decided to withdraw the proposal since reaching a consensus,
@knarz can you please mark it as such

[2019-11-21 11:47] j28 opened #130 "AEX-130: æpps Metadata Format Specification"
### Discussions-To:

https://forum.aeternity.com/t/aexpansion-proposal-aepps-metadata-format-specification/3987/9
### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-130-aepps_metadata_format_specification.md

[2019-11-21 12:28] noandrea commented on #109
it was decided to withdraw the AEX and to work on an implementation when a use case arise.

@knarz can you please mark it as `stage/Withdraw`?

[2019-11-21 12:31] noandrea commented on #108
it was decided to withdraw the AEX and to work on an implementation when a use case arise.

@knarz can you please mark it as `stage/Withdraw`?

[2019-11-21 12:39] noandrea commented on #111
@nikita-fuchs can you please add the content ?

[2019-11-21 12:59] knarz commented on #109
Please submit the corresponding pull requests as well

[2019-11-21 13:42] noandrea commented on #115
closing this since it has been finalized

[2019-11-21 13:42] #115 closed, assigned to nobody

[2019-11-21 13:42] noandrea commented on #101
closing since it has reached a final state

[2019-11-21 13:42] #101 closed, assigned to nobody

[2019-11-21 14:09] #109 closed, assigned to nobody

[2019-11-21 14:09] #108 closed, assigned to nobody

[2019-11-29 11:24] noandrea commented on #111
thanks

[2019-12-16 14:36] AndreasGassmann commented on #114
We (AirGap) have reviewed the proposal and it looks good to us.

[2020-02-13 11:05] mradkov opened #137 "Proposal: Aliased denominations"
I'm opening this thread to start a discussion on specifying denomination aliases for aeternity.

Ref:
https://github.com/aeternity/aepp-sdk-js/issues/382
https://github.com/aeternity/aepp-sdk-js/pull/897#discussion_r378789854

[2020-02-19 15:58] nduchak commented on #137
Exmp: https://github.com/aeternity/aepp-sdk-js/pull/909

[2020-02-19 18:57] mradkov commented on #137
The initial proposition is to label the denominations with math notations such as:
[code]

I think they are already used as such, even though there is no standard of this.

[2020-04-12 08:58] mradkov commented on #114
@thepiwo maybe we should move this to `Final`?

[2020-04-12 09:02] thepiwo commented on #114
I guess we should wait for a security review of some sort before moving to final.

[2020-04-12 09:04] mradkov commented on #114
I think we should consider AEX-9 proposal the proposal for the `interface` of the fungible token rather than the actual implementation. In that case the security review wont be a blocker.

I assume with Sophia compiler improvements in the future the actual implementation could change slightly to bring some more optimizations in terms of performance, gas etc. While the interface should stay the sam

[2020-04-12 09:24] thepiwo commented on #114
As you think is right. I think a final proposal implies a final reference implementation

[2021-06-23 04:30] Lfh2msn opened #139 "Extension for AEX-9: Include payload"
[https://forum.aeternity.com/t/increase-payload-on-aex9/9545](https://forum.aeternity.com/t/increase-payload-on-aex9/9545)

Payload is not currently supported by AEX9 and can be useful in certain scenarios.

Whether it is used or not, it should be optional.

[2021-06-23 10:56] nikita-fuchs opened #140 "AEX-2 - passing config data to the wallet ?"
Looking at the browser wallet implementation example [here](https://github.com/aeternity/aepp-sdk-js/blob/develop/docs/guides/how-to-build-aepp.md), in the initialization process there are URLs to nodes and compiler being provided. Can someone please confirm, that those values are serving whatever purpose and are **not** being used by the superhero wallet ? (I don't have a node at my disposal righ

[2021-06-23 11:25] marc0olo commented on #140
isn't it possible to quickly check that by switching to a local network in the superhero wallet? or using some "nonsense" network in the superhero wallet which would result an error when trying to call a contract which e.g. is only deployed on testnet?

if still the provided config is being used (which hopefully shouldn't be the case) then this is definitely a problem.

otherwise we should revisit

[2021-07-07 13:36] thepiwo commented on #139
feel free to contribute an extension for AEX-9

[2021-09-09 12:11] nikita-fuchs commented on #140
Contrary to my prior observations, the SH wallet integration requires this information to be present as I could confirm today.

If the code is
[code]

and you comment out the `nodes` and `compilerUrl` field and you initialize the web wallet you are greeted with the following error:

   ` Error: Uncaught (in promise): Error: Node with name ae_mainnet not in pool`

which shouldn't be an information

[2021-09-09 22:35] marc0olo commented on #140
this is an implementation specific question and discussion. please continue in https://github.com/aeternity/aepp-sdk-js/issues/1255

closing this here now. want to clean up the whole repository. lot's of issues that all refer to the same AEX proposals. very unclear and confusing for everybody.

[2021-09-09 22:35] #140 closed, assigned to nobody

[2021-09-09 23:33] marc0olo commented on #139
as @thepiwo already pointed out you can just propose and contribute an extension for AEX-9

if you want to see/have that implemented and defined in the standard act as follows:
1. think about the extension (well, you already did that in the forum and here)
1. formalise the extension in an issue and discuss it accordingly
1. fork the repo & provide a PR with a new file in the AEX folder that specif

[2021-09-09 23:36] #96 closed, assigned to nobody

[2021-09-09 23:38] #91 closed, assigned to nobody

[2021-09-09 23:45] marc0olo commented on #90
@davidyuk I see many comments from you to AEX-4 and EIP-681 now seems to be final. it would probably be good to adapt it. do we follow any analogy to other chains right now in that regards?

personally I don't like to have AEX-4 in the title as it is independent discussion IMO. AEX-4 has been withdrawn anyway. so I am changing that.

[2021-09-09 23:48] marc0olo commented on #89
is there any adoption of EIP-831 in the wild? which approach are we currently using for creating URIs in the wallet(s)?

[2021-09-09 23:51] marc0olo commented on #88
I don't think this is relevant anymore. AEX-4 is withdrawn

[2021-09-09 23:51] #88 closed, assigned to nobody

[2021-09-09 23:52] marc0olo commented on #87
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:52] #87 closed, assigned to nobody

[2021-09-09 23:53] marc0olo commented on #86
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:53] #86 closed, assigned to nobody

[2021-09-09 23:55] marc0olo commented on #85
how is this related to #89 and #90 ? what analogy is currently implemented in our applications in that regards?

[2021-09-09 23:57] marc0olo commented on #84
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:57] #84 closed, assigned to nobody

[2021-09-09 23:57] marc0olo commented on #83
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:57] #83 closed, assigned to nobody

[2021-09-09 23:57] marc0olo commented on #82
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:57] #82 closed, assigned to nobody

[2021-09-09 23:58] marc0olo commented on #81
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:58] #81 closed, assigned to nobody

[2021-09-09 23:59] marc0olo commented on #80
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:59] #80 closed, assigned to nobody

[2021-09-09 23:59] marc0olo commented on #79
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:59] #79 closed, assigned to nobody

[2021-09-09 23:59] marc0olo commented on #78
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:59] #78 closed, assigned to nobody

[2021-09-09 23:59] marc0olo commented on #77
no longer relevant, AEX-4 is withdrawn

[2021-09-09 23:59] #77 closed, assigned to nobody

[2021-09-10 00:00] marc0olo commented on #76
no longer relevant, AEX-4 is withdrawn

[2021-09-10 00:00] #76 closed, assigned to nobody

[2021-09-10 00:01] marc0olo commented on #73
no longer relevant, AEX-2 is withdrawn. I am wondering if we should propose a new standard for wallet connections. seems like this has generally been a big pain in the past

[2021-09-10 00:01] #73 closed, assigned to nobody

[2021-09-10 00:01] marc0olo commented on #64
no longer relevant, AEX-2 is withdrawn. I am wondering if we should propose a new standard for wallet connections. seems like this has generally been a big pain in the past

[2021-09-10 00:01] #64 closed, assigned to nobody

[2021-09-10 00:02] marc0olo commented on #48
no longer relevant, AEX-2 is withdrawn. I am wondering if we should propose a new standard for wallet connections. seems like this has generally been a big pain in the past

[2021-09-10 00:02] #48 closed, assigned to nobody

[2021-09-10 00:02] marc0olo commented on #46
no longer relevant, AEX-2 is withdrawn. I am wondering if we should propose a new standard for wallet connections. seems like this has generally been a big pain in the past

[2021-09-10 00:02] #46 closed, assigned to nobody

[2021-09-10 00:03] marc0olo commented on #42
no longer relevant, AEX-2 and AEX-5 are both withdrawn. I am wondering if we should propose a new standard for wallet connections. seems like this has generally been a big pain in the past

[2021-09-10 00:03] #42 closed, assigned to nobody

[2021-09-10 00:04] marc0olo commented on #22
no longer relevant, AEX-5 is withdrawn. I am wondering if we should propose a new standard for wallet connections. seems like this has generally been a big pain in the past

[2021-09-10 00:04] #22 closed, assigned to nobody

[2021-09-11 04:47] arjanvaneersel opened #141 "Non-Fungible Token standard"
### Discussions-To:

https://forum.aeternity.com/t/aeternity-nft-token-standard/9781/16

### Content URL

https://github.com/aeternity/AEXs/blob/master/AEXS/aex-141.md

[2021-09-13 08:53] mradkov commented on #141
Can you update the specification doc to also have a full interface code block for easier readability?

[2021-09-13 22:05] marc0olo commented on #141
thanks for your proposal, @arjanvaneersel!

I agree with @mradkov it's currently a bit hard to read.

suggestions / thoughts from my side for the moment:
- use wording `extensions` instead of `secondary interface`
- provide a getter to know what extensions are implemented, see how it is done for the AEX-9 token:
    - https://github.com/aeternity/AEXs/blob/master/AEXS/aex-9.md#aex9_extensions
- I

[2021-09-16 05:04] arjanvaneersel commented on #141
@mradkov @marc0olo Included a full code block of the interfaces in the doc, as well as in this issue.

Thanks for the suggestions.

@marc0olo The idea of MetaInfo is to be similar to the Fungible Token. TokenData is typically for the NFT standard. For that reason I didn't combine them. Also TokenData is an option, not every NFT implementation might need it. Therefore I'm also having some doubts wh

[2021-09-16 10:51] marc0olo commented on #141
personally I am not sure if a NFT (contract/collection) needs a symbol. IMO a name of the collection is sufficient. also saw some discussions about that for ERC-721 back then.

I think it's way more important to think about how we want to deal with the "real" metainfo (properties of the specific NFT ID)

[2021-09-23 13:26] marc0olo commented on #141
we should keep the discussion alive here. will hopefully find some time again to have a deeper look.

@arjanvaneersel are you planning to provide an update or are you waiting for further responses?

@thepiwo maybe you can also share some thoughts here? would appreciate it :)

[2021-09-23 13:33] marc0olo commented on #141
@arjanvaneersel btw I wouldn't recommend to duplicate the proposed interface on various places (issue description, separate file, ...)

we should discuss a proposal which is written in one specific place IMO. the request of @mradkov, when I understood correctly, was about improving the readability of https://github.com/appinesshq/ae-nft/blob/main/AEX-xx.md (@mradkov correct me if I am wrong 😅 )

[2021-09-23 14:40] arjanvaneersel commented on #141
My planning was to start implementing the first batch of ideas from next
week. Think everybody then had a reasonable amount of time to share ideas.

On Thu, Sep 23, 2021, 16:26 Marco Walz ***@***.***> wrote:

[2021-09-23 15:22] thepiwo commented on #141
I'd say to make the code and readme style more inline with other ae contracts and AEXs:
 - remove the `@param` comments
 - use `//` comments instead of `///`
 - make parameters without leading `_`
 - compare readme formatting with AEX-9 for endpoints
 - use MUST/SHOULD descriptions in text (MoSCoW method)
 - document events where they are emitted
 - alias default types for better readability
 - un

[2021-09-23 17:07] marc0olo commented on #141
thanks @thepiwo! currently you shouldn't care about the actual implementation. we should agree upon the interface before digging deep into the implementation details.

but anyway there are interesting questions.

what's your opinion about having mintable as extension? IMO it shouldn't be part of the default standard

[2021-10-08 18:22] marc0olo commented on #141
@arjanvaneersel any update here from your side? we decided in our workshop that @thepiwo and I want to actively support you here and get this standard and the implementation ready to be reviewed and tested as soon as possible. do you have some time next week to have a call to discuss this? we can do that on discord ;-)

[2021-10-14 12:57] marc0olo commented on #141
## Summary (Call between @marc0olo and @thepiwo)

- don't copy Ethereum/Solidity code-style, @thepiwo can help here
- transfer / mint vs. safe_transfer / safe_mint
   - we should probably only define and allow safe transfers to avoid sending tokens to a contract that doesn't support the token standard
   - is there a reason why we need "non-safe" transfers or why we should keep them?
- harmonize /

[2021-10-14 22:06] marc0olo commented on #141
just had some discussion with @omar-saadoun about that. the **metadata** topic is really interesting.

in the end we both came to the conclusion that it's definitely desired to have following possibilities:
- `base_url` for the whole collection where the `id` points to the specific metadata of the token (like known already for the ERC-721)
   - pro:
        - "trust" for people in a common scheme

[2021-10-15 08:55] thepiwo commented on #141
@marc0olo I agree, using `base_url` makes sense as long as it is changeable by an administrator, each unique token id will stay the same. Putting additional data in ipfs per unique token makes sense to have optionally I think.

[2021-10-15 09:52] marc0olo commented on #141
yeah. but when assuming we use a `base_url` my question is how would we best reflect this e.g. in the ADT (if we aim to use it like e.g. mentioned above).

should we use `Url(bool)` instead of `Url(string)` then? but if the type is `Url` why would I need the `bool` here then? I am just thinking out loud at the moment 😅 - wondering how it makes sense for the services/interfaces to consume this kind

[2021-10-16 16:36] genievot commented on #141
* How will you manage to trigger ipfs upload endpoint, from the smart contract with getting the input of the data in the chain?
* What is `base_url`?

[2021-10-18 13:10] marc0olo commented on #141
## Summary Call between @arjanvaneersel and @marc0olo

- we agreed that the `transfer` and `mint` method will always be a safe one (fails when trying to send to a contract that doesn't support it)
- we agreed that for minting we always increment the id's and don't need to pass the `id` as param
- we agreed to introduce `mintable` as extension
- we agreed to use `burnable` as extension
- we agreed

[2021-10-19 22:21] omar-saadoun commented on #141
Could you elaborate more about `swappable` @marc0olo @arjanvaneersel  ?

[2021-10-20 07:48] marc0olo commented on #141
Kind of like it's defined in the AEX-9 fungible token standard already, see https://github.com/aeternity/AEXs/blob/master/AEXS/aex-9.md#extension-swappable-swappable.

We could maybe also define different swap target chains and respective contract addresses like e.g. `AETERNITY` with `ct_...`, `ETHEREUM` with `0x...`, `POLYGON` with `0x...` (and others) so that consumers know the new chain and res

[2021-10-25 09:03] thepiwo commented on #141
the goal of swappable is to provide a mechanism to swap AEX-9 to a different token standard in the future

[2021-11-09 09:32] arjanvaneersel commented on #141
Proposal is updated. Please share your thoughts.

[2021-11-09 10:57] marc0olo commented on #141
Hi @arjanvaneersel,

thanks for the update! I just had a very quick look and will dig in deeper during the day.

Following comments right now:
- I think we should keep the map with the token holders separate from the `meta_info` and provide a separate entrypoint to get that information
- I am wondering if we could/should provide 2 different methods for the `batch_transfer` extension:
    1. like y

[2021-11-09 12:00] arjanvaneersel commented on #141
@marc0olo It's not a map with token holders, but a map with token data in `meta_info`. I remember from the discussion that most people, including you according your comment of the 14th of September, found it more logical to have this data in meta_info than outside of it, as it was before.

[2021-11-09 13:46] marc0olo commented on #141
ahh okay, got it. I remember

I would propose to change the naming here then as follows and I still think the `token_data` is specific to each token and shouldn't be included in the general metainfo.

## Currently
[code]

## Proposal
[code]

Note:
- removed `token_data` and renamed `metadata` to `type`

[2021-11-10 07:46] arjanvaneersel commented on #141
@marc0olo I agree with you and what you describe is how I implemented it initially. Amended the proposal and removed token from meta_info. I don't know why I called `type` metadata in the first place. Must be a mistake. Changed that as well in the proposal.

[2021-11-10 08:49] marc0olo commented on #141
one thing more I just observed when having a quick loog again. I think we currently miss the `bool` to indicate approval/revocation in the single `Approval` event:
- `Approval(indexed address, indexed address, indexed int)`

[2021-11-12 07:54] thepiwo commented on #141
@marc0olo can you elaborate why a `metadata_type` is needed if we use an ADT for metadata anyway?

[2021-11-12 08:07] thepiwo commented on #141
@arjanvaneersel thanks for your work, I think the overall proposal looks good now. If we all agree that the current state of the proposal (excl. implementation) is good now I would like to make an in-depth review where I again check every type, throw and so on.

[2021-11-12 08:18] arjanvaneersel commented on #141
@thepiwo The idea of metadata_type is that the type is determined at contract level instead of having different tokens with different metadata. The ADT on metadata level is mostly there due to the different kind of types that the metadata types require. Perhaps it's better to abstract metadata down to simply string or map, because I can imagine that how it's formulated now might be confusing. Any

[2021-11-12 08:33] thepiwo commented on #141
@arjanvaneersel yeah I understand, I think the ADT as metadata to hold content is good and can be extended by third parties. I am unsure if we want to introduce a restriction.

Pro (for restriction):
 - less need to think for NFT-AEX deployments
 - uniform metadata across one NFT

Con (against restriction):
 - maybe there is a use-case for different metadata types in same NFT
 - checking restricti

[2021-11-12 08:37] marc0olo commented on #141
as @arjanvaneersel already pointed out it is mainly for indicating to consumers (marketplaces, ...) what kind of metadata is being used for the NFT contract.

personally I think it's good this way but yeah, open for suggestions

@arjanvaneersel and I discussed this and we couldn't think of a usecase where people would want different types of metadata. in general this would unnecessary complicate t

[2021-11-12 08:42] marc0olo commented on #141
to second that:
- personally I am pro restriction

please react with 👍 (pro) or 👎 (against) to this comment :-)

[2021-11-12 08:51] thepiwo commented on #141
I am indifferent to the restriction, either way can result in issues in the future.

[2021-11-12 08:54] marc0olo commented on #141
question is how we can collect as many opinions as possible about this. IMO we are already very flexible with the ADT in general. this is way better than what ERC-721 provides.

I think if we cannot think of a specific usecase where I would want to mix up metadata types in one single contract we should go for the restriction.

so far I wasn't able to think of one.

[2021-11-12 09:09] thepiwo commented on #141
For the `batch_transfer` topic we should also consider how implementation regarding that works, iteration over lists will result in out of gas issues. I would propose to keep the standard as clean as possible.

Maybe we can just make one function for `batch_transfer` that just takes a `map(int, address)` / `list(int * address)` to make any token to any address the default, which can still be used

[2021-11-12 09:19] marc0olo commented on #141
right. I think we could keep it like it is in the current proposal then for `batch_transfer`. though I also like the proposal to just take a `map(int, address)` / `list(int * address)` to have more flexibility. @thepiwo what do you think about gas costs implications if we would use this instead of the current proposal?

generally I can only think of airdrops or sth. like that right now if you want

[2021-11-12 09:57] omar-saadoun commented on #141
I understand we are supporting or willing to be as erc 721 similar as possible but what about considering to be half way with collections?

Probably it won't sense for a while to have another standar because of gas fees so low being already quite efficient but if we are considering a `batch_transfer` which would be great we should also consider `batch_mint` taking `map(int, address) / list(int * a

[2021-11-12 10:28] marc0olo commented on #141
multiple collections in a contract are not considered in this proposal. we don't want and need to be compliant to ERC-721 here, but we want to keep it as simple as possible while providing flexibility e.g. in terms of metadata.

you could use a contract factory to achieve that, yes.

agree

yes, I think then in general `map(int, address)` / `list(int * address)` makes most sense to use then and be

[2021-11-12 11:18] thepiwo commented on #141
@marc0olo if introduce list iteration in the standard, users will definitely run into out of gas issues at some point and will thus have to implement an alternative/special-case for this use-case anyway

[2021-11-12 11:43] marc0olo commented on #141
so you propose to avoid it and not even including it as extension?

right now we would include it in an extension of the standard, yes. and yes, it would cause out of gas issues. but experienced devs could analyze and limit the amount of NFTs used in a batch action.

I mean we can also ditch the batch actions completely. also from the extensions. or we decide to introduce the extensions at a later

[2021-11-12 11:52] ErkanKanden commented on #141
Not an expert here, but if we have to decide between user friendliness/smoother experience or advanced functionalities like batch actions, I'd go for ease of use. This way we can get new developers to try out the new NFT standard more easily and not have them frustrate too much over out of gas issues

[2021-11-12 11:55] thepiwo commented on #141
@marc0olo yes, but experiences devs can also build this using remote calls and a parent contract. Inexperienced devs will build some product that bricks itself.

[2021-11-12 11:55] thepiwo commented on #141
same with the metadata, I am indifferent here, just analyzing and explaining the risks

[2021-11-12 11:59] marc0olo commented on #141
that's true, agree. so I would be fine with excluding batch transfers. and as already said I think we could introduce a respective extension at a later stage if there really is demand for it

here I kind of disagree. I don't see any risk and it's just much more convenient if it is restricted. still not sure if there exists a usecase where you would like to mix different metadata types in the same

[2021-11-12 12:00] thepiwo commented on #141
@ErkanKanden the problem is with this kind of ease-of-use it nice as long as it works, but when it doesn't any more shits on fire. E.g. I am an inexperienced dev, build an NFT marketplace contract, make use of batch transfers from my marketplace contract using the nft contract. I gain 1000 users, suddenly the marketplace is not working anymore. The inexperienced dev find out its because of too man

[2021-11-12 12:02] thepiwo commented on #141
Similar issues cost ethereum projects 100s millions in losses, this is not just something that might happen but probably never will. If someone knows about an issue in a third party contract like this it can be actively exploited by an attacker to provoke that bug.

[2021-11-12 12:02] thepiwo commented on #141
With all of that I'm not saying we shouldn't have such feature, just treat anything that includes iteration with utmost care when proposing a standard, for people to rely on.

[2021-11-12 12:04] marc0olo commented on #141
yes, the more I think about the batch thing the more I am on your page. we should avoid it in the standard.

[2021-11-12 12:06] thepiwo commented on #141
When we avoid it we should make sure that batch actions will still be possible from a third party contract, and e.g. provide an example for that.

[2021-11-12 12:17] marc0olo commented on #141
@arjanvaneersel du you agree to avoid iterations in the standard and providing examples for batch actions in third party contracts?
- minting
- transfers
- burning

[2021-11-15 11:52] arjanvaneersel commented on #141
@marc0olo I agree, let's not make batch transfers a part of the standard, but give some examples how one can do it in 3rd party contracts. I already incorporated your earlier suggestion. So I'll update the proposal by removing the batch actions and then @thepiwo should be good to go with his final review.

[2021-11-15 11:58] marc0olo commented on #141
@arjanvaneersel also consider this comment please: https://github.com/aeternity/AEXs/issues/141#issuecomment-964907539

what's your take on the restriction discussion with defining the metadata type on contract level? do you see any usecase that requires not restricting it?

currently I personally am pro restriction, still

[2021-11-15 12:09] arjanvaneersel commented on #141
@marc0olo I tend to say that developers should be free to decide implementations. It's their responsibility to communicate that with users. However, since not of us can come up with a use case where a contract would serve different types of tokens, I think that it's cleaner to define this in the standard. From that perspective it might make sense to reconsider how the metadata ADT is structured an

[2021-11-15 12:56] marc0olo commented on #141
mhh, I personally still think this is a quite elegant and flexible solution that might be useful for many projects.

we need to decide how to proceed with his. otherwise we are blocked.

@omar-saadoun can you share your opinion about this again? maybe find other NFT experienced people to comment?

[2021-11-15 13:09] marc0olo commented on #141
to make my standpoint about metadata clear again. my proposal is:

- keep flexibility with ADT to support different metadata types in general for contracts
- keep and restrict `metadata_type` on contract level

**note**
- got question about ADT => it means algebraic data type (see https://aeternity.com/aesophia/v6.1.0/sophia_features/#algebraic-data-types)

[2021-11-15 13:55] omar-saadoun commented on #141
I think we can offer this elegance through ADT and we will keep the implementation with a reasonable amount of freedom for developers as they can still decide on map structure or JSON if they opt for URL.

We want to offer good options but also keep marketplace's development as simple and anticipatable as possible in this matters.

I think the best way to understand why this is option can be bette

[2021-11-17 15:30] marc0olo commented on #141
@arjanvaneersel when can we expect the final update so that @thepiwo can proceed with the final review? =)

[2021-11-24 05:49] arjanvaneersel commented on #141
@marc0olo Updated the proposal. I still have one thing on my mind.

I really dislike this:
[code]

I dislike it, because someone could select URL on the contract level and then IPFS on the token level or even worse: Internal.

But I also wonder: Do we really need the difference between URL and IPFS? IPFS also generates a URL. URL expects `base_url + token_id` as outcome. I don't think it's good to

[2021-11-24 07:56] thepiwo commented on #141
The goal of the suggestion was to give a hint to a frontend or consumer of that information whats inside. Matching type and data can be verified by the contract (and defined as MUST in the standard). From not thinking about the endpoint consumer side I am also fine with just using `map(string, string)` then leave the remaining decision on what to put in there to users of the standard.

[2021-11-24 09:51] marc0olo commented on #141
thanks @arjanvaneersel!

the problem with this discussion is that I don't think we get many opinions about that from the community and have to take assumptions.

if you ask me personally I really like what we have. by doing it the way we originally planned every consumer (marketplace or other app) would be able to render the content by knowing what the metadata type stands for (which should also s

[2021-11-24 10:03] thepiwo commented on #141
@marc0olo I think your ideation was to force the consistent same metadata across the contract.

[2021-11-24 10:26] marc0olo commented on #141
ok this seems historical to me as we first started without having a concrete `metadata_type` on contract level where we needed the types explicitely in the metadata datatype.

@arjanvaneersel I am fine with changing it to:
[code]

[2021-11-24 10:28] marc0olo commented on #141
seems like we are close to getting the "final" proposal state reviewed 😎 thanks to everybody involved!

[2021-11-25 15:40] marc0olo commented on #141
thanks for updating the proposal @arjanvaneersel ! - I think we are ready to review now 😎

@arjanvaneersel please fork the AEX repository and provide a pull request according to the defined process ;-) ... the AEX number will be define during the review :-)

[2022-01-12 12:27] hanssv opened #144 "Request for clarification and potential improvements: AEX-3"
When implementing AEX-3 I noticed a couple of things that could be clarified or described in more detail.
* Some fields, like kdf-`salt`, cipher-`nonce`, and the `ciphertext` should have a format specification. I would suggest hexadecimal string, but base64, etc. are other alternatives. (And if you really, really want add a format argument and make it configurable - but this just adds complexity i

[2022-07-29 09:59] marc0olo commented on #141
@omar-saadoun @arjanvaneersel @thepiwo we should think about an additional extension for royalties IMO. not sure why we haven't discussed so far.

for sure it would just be an indicator and we couldn't and shouldn't enforce it. but potential marketplaces could read from royalties extension entrypoint and embrace it accordingly.

what do you think?

[2022-08-19 08:42] marc0olo commented on #141
I just consulted with @jyeshe regarding metadata and I think we need to update the proposal and use `(int, (string, string))` instead of `(string, string)` to handle the metadata map for nfts so that we can add the key-values on asset-level rather than on contract level.

opinions? @arjanvaneersel @thepiwo @omar-saadoun

[2022-08-19 09:15] jyeshe commented on #141
Sorry, revisiting the standard it might be not necessary as the mapping to the token_id (int) would be made on the state and the `metadata(token_id: int)` would return the `Map(string, string)`. Talking about this `Map(string, string)`, is there a Sophia way to convert a `map(string, string)` to it? Or if the types are compatible might be only an AEStudio issue.

[2022-08-19 09:18] marc0olo commented on #141
yeah the question was rushed. actually we already have what we want I think

[2022-08-19 14:17] marc0olo commented on #141
we had to fix the definition of `datatype metadata` as it was wrong. we didn't use a map as we expected to use.

see https://github.com/aeternity/AEXs/pull/146
followed by https://github.com/aeternity/AEXs/pull/147 to further improve the clarity and explain the usage

I will shortly adapt the examples but I think I already identified a problem with SDK / calldata-lib in that regards 😒 - need to do

[2022-08-26 23:10] marc0olo commented on #141
we recently published the first NFT collection example here:
- https://github.com/aeternity/aex141-nft-collection-example

we will shortly come up with a proposal for a new extension called `mapped_metadata` where we have a first implementation provided here:
- https://github.com/aeternity/aex141-nft-collection-example/pull/9/files

am example of this is deployed on testnet: `ct_Fv9d66QTjr4yon9GEu

[2022-08-31 13:13] marc0olo commented on #141
just had a discussion with @thepiwo and I think we should clarify as soon as possible how we wanna deal with **events** when it comes to **minting**:

- in AEX-9 the decision was taken to avoid using `Transfer` event where `from`-address is the zero address on minting and instead introduce a `Mint` event

unfortunately we didn't consider this in AEX-141 (yet) and currently have the problem that we

[2022-08-31 21:34] radrow commented on #141
Since minting is clearly a different type of action than transferring, I would make it a different type of event.

[2022-08-31 23:09] marc0olo commented on #141
I guess @thepiwo is happy to hear that. rumors say he'd boykott AEX-141 if we go the zero-address route 😱

[2022-09-05 13:14] jyeshe commented on #141
When the indexing service has a single websocket subscription it is easier to track the status of an NFT. With multiple subscriptions it shall sort the events before processing them in order to know the last owner for example (one owner coming from a `Transfer` and another from the `Mint`). If we have the Mdw providing the topic subscription, it can work well with different chain events (`Mint`, `

[2022-09-05 17:59] marc0olo commented on #141
alright I think we should propose to go the AEX-9 route and avoid implicit minting using zero-address. I will provide a PR with the proposed changes which introduce `Mint` and `Burn` events as soon as possible

[2022-09-07 14:14] marc0olo commented on #141
I have another topic to discuss. I am comparing AEX-9 and AEX-141 a bit more and we also have some difference in regards to handling **transfers** of tokens.

AEX-9 explicitly differentiates between entrypoints called by the owner itself vs. calls of 3rd parties on behalf of the owner:
[code]

should we also adapt this and be more explicit? I'd really love to also get some feedback of you @arjanva

[2022-09-16 17:00] marc0olo commented on #141
I decided to keep the approval stuff like is. I think it is ok and it makes it better understandable for users switching from ERC-721 to AEX-141.

here is the PR for the explicit `Mint` and `Burn` events: https://github.com/aeternity/AEXs/pull/148 @thepiwo @jyeshe @arjanvaneersel